.main-title {
    text-align: center;
}
.post-title {
    font-size: 14px;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: lightgray;
}

.post {
    padding-left:20px;
}

.post-subtitle {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-weight: 300;
}

.blog-body {
    margin-top: 15px;
}

img {
    width: 20%;
}

.post-meta {
  font-size: 18px;
  font-style: italic;
  margin-top: 0;
  font-family: Lora, 'Times New Roman', serif;
  background-color: #E9EEF4;
}

.error input,
.error textarea{
    border: 1px solid red;
}

.error-message {
    color: red;
    font-weight: bold;
}

label {
    display: block;
    margin: 0;
}

table {
    border-collapse: separate;
    border-spacing: 0px 10px;
}

td {
    padding-right: 5px;
    border: 0px;
    margin-top: -15px
}



